@import "../font/fonts.css";
* {
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container nav .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container nav .collections li {
  margin-right: 33px;
}
header .container nav .collections li a {
  height: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}
header .container nav .collections li:last-child {
  margin-right: 0;
}
header .container nav .collections li:hover a {
  height: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #333D4B;
}
header .container nav i {
  font-size: 30px;
  display: none;
}

@media only screen and (max-width: 686px) {
  header .container .logo {
    width: 20%;
  }
  header .container nav {
    width: 80%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  header .container nav .collections li {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 556px) {
  header .container .logo {
    margin-right: 10px;
  }
  header .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-right: 0;
  }
  header .container nav i {
    position: absolute;
    display: block;
    right: 0;
  }
  header .container nav .collections {
    display: none;
  }
  header .container nav .collections li {
    margin-right: 20px;
  }
}
.intro {
  width: 100%;
  margin-bottom: 136px;
}
.intro .container {
  background-image: url("../img/hero_bg.png");
  padding-top: 117px;
  padding-left: 5%;
  border-radius: 12px;
  background-size: cover;
  background-position: right;
}
.intro .container h1 {
  width: 493px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  color: #FEFCF7;
}
.intro .container p {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FEFCF7;
  margin-bottom: 56px;
}
.intro .container button {
  width: 217px;
  height: 56px;
  background: #66D2CF;
  border-radius: 6px;
  margin-bottom: 116px;
  border: none;
}
.intro .container button a {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (max-width: 769px) {
  .intro {
    margin-bottom: 144px;
  }
  .intro .container {
    width: 85%;
    padding-top: 104px;
    background-image: url("../img/intro_media.jpg");
    background-position: right, right;
    z-index: -10;
  }
  .intro .container h1 {
    width: 90%;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    color: #FEFCF7;
  }
  .intro .container p {
    width: 90%;
    font-size: 15px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .intro {
    width: 100%;
    margin-bottom: 120px;
  }
  .intro .container {
    width: 85%;
    padding-left: 0;
    position: relative;
  }
  .intro .container::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    background-color: rgba(11, 11, 11, 0.677);
    z-index: -1;
    border-radius: 12px;
  }
  .intro .container .intro_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro .container h1 {
    width: 279px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
  }
  .intro .container p {
    width: 279px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
  }
}
.product {
  width: 100%;
  margin-bottom: 188px;
}
.product .container {
  background-image: url("../img/our_collection.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 10%;
}
.product .container .product_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product .container .product_cards .product_card {
  width: 255px;
}
.product .container .product_cards .product_card h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.product .container .product_cards .product_card p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}
.product .container .product_cards .product_card:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: #f0f0f3;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px white;
          box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px white;
}

@media only screen and (max-width: 769px) {
  .product .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .container .product_cards {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product .container .product_cards .product_card {
    width: 100%;
    height: 193px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 47px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product .container .product_cards .product_card img {
    width: 40%;
    height: 193px;
  }
  .product .container .product_cards .product_card .product_card_text {
    width: 50%;
  }
  .product .container .product_cards .product_card .product_card_text h2 {
    height: 32px;
    width: 100%;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
  .product .container .product_cards .product_card .product_card_text p {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
  }
}
@media only screen and (max-width: 375px) {
  .product .container {
    background-image: url("../img/our_collection_mobile.png");
  }
  .product .container .product_cards .product_card {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 282px;
    margin-bottom: 48px;
  }
  .product .container .product_cards .product_card img {
    width: 200px;
    height: 151px;
  }
  .product .container .product_cards .product_card .product_card_text {
    height: 130px;
    width: 282px;
    border-radius: 0px;
  }
  .product .container .product_cards .product_card .product_card_text h2 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
  }
  .product .container .product_cards .product_card .product_card_text p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
  }
}
.service {
  height: auto;
  width: 100%;
}
.service .container {
  height: 577px;
  background-color: #2C343E;
  border-radius: 10px;
  padding-top: 100px;
}
.service .container .service_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 86px;
}
.service .container .service_title h2 {
  width: 100%;
  text-align: center;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.service .container .service_title p {
  width: 540px;
  text-align: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}
.service .container .service_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service .container .service_cards .service_cards_card {
  width: 350px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}
.service .container .service_cards .service_cards_card h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #FEFCF7;
}
.service .container .service_cards .service_cards_card p {
  width: 80%;
  margin: 0 auto;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (max-width: 1667px) {
  .service {
    margin-bottom: 540px;
  }
}
@media only screen and (max-width: 778px) {
  .service .container .service_cards .service_cards_card {
    width: 340px;
  }
}
@media only screen and (max-width: 769px) {
  .service .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .container .service_cards {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service .container .service_cards .service_cards_card {
    width: 100%;
    height: 193px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 47px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service .container .service_cards .service_cards_card img {
    width: 10%;
    height: 193px;
    margin-right: 55px;
  }
  .service .container .service_cards .service_cards_card .service_card_text {
    width: 50%;
  }
  .service .container .service_cards .service_cards_card .service_card_text h2 {
    height: 32px;
    width: 100%;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #FEFCF7;
  }
  .service .container .service_cards .service_cards_card .service_card_text p {
    width: 100%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    color: #FEFCF7;
  }
}
@media only screen and (max-width: 376px) {
  .service {
    margin-bottom: 800px;
  }
  .service .container .service_cards .service_cards_card {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 282px;
    margin-bottom: 24px;
  }
  .service .container .service_cards .service_cards_card img {
    margin-left: 20%;
    width: 20%;
    height: 20%;
  }
  .service .container .service_cards .service_cards_card .service_card_text {
    height: 130px;
    width: 282px;
    border-radius: 0px;
  }
  .service .container .service_cards .service_cards_card .service_card_text h2 {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
  }
  .service .container .service_cards .service_cards_card .service_card_text p {
    width: 212px;
    height: 78px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
  }
}
.works {
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}
.works .container .works_title {
  width: 100%;
  text-align: start;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #83888F;
  margin-bottom: 80px;
}
.works .container .works_line {
  width: 50%;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works .container .works_line .works_around {
  width: 31px;
  height: 31px;
  border: 1px solid #0E8784;
  background-color: transparent;
  border-radius: 50%;
}
.works .container .works_line .works_hr {
  width: 35%;
  height: 2px;
  background-color: #FDD6BA;
}
.works .container .works_cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 150px;
}
.works .container .works_cards .works_cards_card {
  width: 23%;
  height: 375px;
  border-radius: 0px;
  margin-right: 95px;
}
.works .container .works_cards .works_cards_card .works_cards_card_title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  color: #FDD6BA;
}
.works .container .works_cards .works_cards_card .works_cards_card_text {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  color: #333D4B;
}
.works .container .works_cards .works_cards_card p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333D4B;
}
.works .container .works_cards .works_cards_card:last-child {
  margin-right: 0;
}
.works .container .works_btn {
  width: 217px;
  height: 56px;
  background-color: #66D2CF;
  border-radius: 6px;
  border: none;
}
.works .container .works_btn a {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (max-width: 1938px) {
  .works {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 982px) {
  .works .container .works_line .works_hr {
    width: 35%;
  }
}
@media only screen and (max-width: 770px) {
  .works .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .container .works_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .container .works_cards .works_cards_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 200px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 56px;
  }
  .works .container .works_cards .works_cards_card .works_cards_card_text {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    color: #333D4B;
  }
  .works .container .works_cards .works_cards_card p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
  }
}
@media only screen and (max-width: 735px) {
  .works .container .works_line {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .works {
    height: auto;
  }
  .works .container .works_line {
    display: none;
  }
  .works .container .works_cards .works_cards_card .works_cards_card_text {
    text-align: center;
  }
}
.footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #2C343E;
  z-index: 10;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container nav {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container nav .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container nav .collections li {
  margin-right: 33px;
}
.footer .container nav .collections li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.footer .container nav .collections li:last-child {
  margin-right: 0;
}
.footer .container nav .collections li:hover a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #FEFCF7;
}
.footer .container .icons {
  position: absolute;
  right: 0;
  width: 20%;
  font-size: 24px;
  color: #83888F;
}
.footer .container .icons a {
  color: #83888F;
}
.footer .container .icons .bi-facebook {
  margin-right: 24px;
}
.footer .container .icons .bi-facebook:hover {
  color: #1877F2;
  font-size: 30px;
}
.footer .container .icons .bi-twitter {
  margin-right: 24px;
}
.footer .container .icons .bi-twitter:hover {
  color: #1877F2;
  font-size: 30px;
}
.footer .container .icons .bi-instagram:hover {
  color: #F60593;
  font-size: 30px;
}

@media only screen and (max-width: 869px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .container .logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 33px;
  }
  footer .container .logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container nav {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 65px;
    padding-left: 0;
  }
  footer .container .icons {
    position: relative;
    bottom: 0;
    left: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 506px) {
  .footer .container nav {
    display: block;
    width: 100%;
    margin-left: -18%;
  }
  .footer .container nav .collections {
    display: block;
    width: 90%;
  }
  .footer .container nav .collections li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
    width: 100%;
  }
}