.works{
    width: 100%;
    height: auto;
    margin-bottom: 200px;
    .container{
        .works_title{
            width: 100%;
            text-align: start;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            color: #83888F;
            margin-bottom: 80px;
        }
        .works_line{
            width: 50%;
            height: 31px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .works_around{
                width: 31px;
                height: 31px;
                border: 1px solid #0E8784;
                background-color: transparent;
                border-radius: 50%;
            }
            .works_hr{
                width: 35%;
                height: 2px;
                background-color: #FDD6BA;
            }
        }
        .works_cards{
            width: 100%;
            display: flex;
            justify-content:start;
            flex-wrap: wrap;
            margin-bottom: 150px;
            .works_cards_card{
                width:23%;
                height:375px;
                border-radius: 0px;                
                margin-right: 95px;
                .works_cards_card_title{
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 72px;
                    color: #FDD6BA;
                }
                .works_cards_card_text{
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    color: #333D4B;
                    
                }
                p{
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #333D4B;
                    
                }
                &:last-child{
                    margin-right: 0;
                }
                // rgba(14, 135, 133, 0.37)
                // &:hover{
                //     transition: .6s;
                //     background-color:#f0f0f3;
                //     border-radius: 12px;
                //     box-shadow: 10px 10px 21px #d3d3d6,
                //                 -10px -10px 21px #ffff;
                //}
            }
        }
        .works_btn{
            width:217px;
            height: 56px;
            background-color: #66D2CF;
            border-radius: 6px;
            border: none;
            a{
                font-family: 'Fraunces 9pt';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                
                color: #FEFCF7;
                
            }
        }
    }
}

@media only screen and (max-width:1938px){
    .works{
        margin-top: 300px;
    }
}
@media only screen and (max-width:982px){
    .works{
        .container{
            .works_line{
                .works_hr{
                    width: 35%;
                }
            }
        }
    }
}
@media only screen and (max-width:770px){
    .works{
        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .works_cards{
                width: 100%;
                display: flex;
                justify-content:space-evenly;
                flex-wrap: wrap;
                .works_cards_card{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 200px;
                    height: auto;
                    margin-right: 5px;
                    margin-bottom: 56px;
                    .works_cards_card_text{
                        font-family: 'Fraunces';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 28px;
                        color: #333D4B;
                    }
                    p{
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #333D4B;
                        
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:735px){
    .works{
        .container{
            .works_line{
                display: none;
            }
        }
    }
}
@media only screen and (max-width:375px){
    .works{
        height: auto;
        .container{
            .works_line{
                display: none;
            }
            .works_cards{
                .works_cards_card{
                    .works_cards_card_text{
                        text-align: center;
                    }
                }
            }
        }
    }
}