*{
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
@import "../font/fonts.css";
@import "header";
@import "intro";
@import "products";
@import "service";
@import "works";
@import "footer";
